<header>
  <img
    src="assets/img/erick.png"
    alt="Erick Dantas - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Erick Dantas</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Angular | Spring | SQL</p>
    <p>Uberlândia, Minas Gerais, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software desde 2021. Onde tive meu primeiro contato pela faculdade
      e me apaixonei, atualmente atuo como desenvolvedor Jr na PayTech Solutions.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/erickdantas3/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5534997730662&text=Ol%C3%A1%20Erick,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (34) 9 9773-0662</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:ericksdantas144@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>ericksdantas144&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
